         /***************Tag Selectors************************/
body {
    font-family: 'Montserrat',sans-serif;
    margin: 0;
    text-align: center;
}
a{
    padding-right: 50px;
    display: inline-block;
}
h1{
    color: #586e6a;
    font-size: 2em;
}

p,a{
    color: #586e6a;
    font-family: 'Ubuntu',sans-serif;
    font-weight: 600;
}

         /***************Class Selectors************************/
/**************************************Header***************************************************/
.div-header{
    background-color: #d1eecc;
}
.header-nav{
    margin: auto;
    padding-bottom: 20px;
}
.header-logo{
    display: inline-block;
    width: 250px;
    padding-right: 50px;
}
.header-navbar{
padding: 0 30px 0;
}
/**************************************Main***************************************************/
.main-description{
    padding: 5% 15% 0;
    text-align: center;
    height: 200px;
}
.main-quote{
    font-weight: 900;
    font-size: 1.25rem;
    color: #76dbd1;
}

.main-about{
    padding: 3% 15% 3%;
    margin: 100px auto;
    width: 50%;
    text-align: left;
}

.main-about-img{
    border-radius: 50%;
    width: 200px;
    height: 200px;
    float: right;
    padding-left:30px;
}
.contact-description{
    margin: 50px auto 30px;
    width: 50%;
}
.contact-description{
    text-align: left;
}
.contact-map{
    padding-bottom: 30px;
}
/**************************************Footer***************************************************/
.div-footer{
    background-color: #57a99a;
    padding: 20px 0 20px;
}
.div-footer i{
    color: #ecf4f3;
    font-size: 0.8rem;
    padding: 0 20px 0;
}

/**********************************ID Selector****************************************************/
#AboutUs{
    background-color: #d1eecc;
}